#nav-bar {
    height: 20vh;
}

@media (max-width: 768px) {

    .logoPlusNavbar {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .navbar-list-class {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .list-element-class {
        padding: 0;
        margin: 0;
    }

    .solutions-navbar-class {
        margin-bottom: 12px;
    }

    .navbar-button {
        display: flex;
    }

    .nav-solution-class {
        margin: 0;
        padding: 0;
    }

  }
