#nav-bar {
    height: 20vh;
}

@media (max-width: 768px) {
    .logo-class, .navbar-section-class {
        margin: 0;
    }

    .navbar-texts {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
    }

    .fsm-logo-bottom {
        width: 48px;
    }

    .navbar-section-class {
        display: none; /* Hide the navigation items by default on smaller screens */
        /* ... other styles ... */
      }
    
      .hamburger-icon {
        display: block; /* Show the hamburger icon on smaller screens */
        /* ... icon styles ... */
      }
    
      .navbar-section-class.open {
        display: block; /* Show the navigation items when menu is open */
      }
  }