#header-smartStop {
    width: 100%;
    height: 30vh;
}

.cursorCity {
    cursor: default;
}

@media (max-width: 768px) {

    .responsive-class, .smartCityVideo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}